body {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bank {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;;
}

#loginPage {
    border: 2px solid;
    padding: 10px;
    text-align: center;
}

#loginPage input {
    margin-bottom: 10px; /* Adjust the value as needed */
    border: 2px solid;
    width: 90%;
    height: 40px;
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
    padding: 8px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

button {
    background-color: hsl(199, 74%, 55%);
    width: 40%;
    height: 40px;
    font-weight: bold;
    font-size: large;
}

hr {
    border: 2px solid;
}