body {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

form {
    height: 40vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}